<%- include('../partials/header') %>

<body>
  <div class="container">
    <h1><%= campground.title %> </h1>
    <ul>
      <li>Location: <%= campground.location %> </li>
    </ul>
  </div>

  <%- include('../partials/footer') %>